* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.container {
    max-width: 2200px;
    margin: 0 auto;
    display: flex;
    height: 100vh;
}

.leftSection {
    flex: 2;
    background-image: url("../../../../public/img/res.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 10;
}
